body{
  text-align: center;
  font-size: 20px;
}

.sp,.di
{
  margin:20px;
}
#im2{
  
}

img{
  width: 20%;
}

#ss{
  border-left: 6px solid green;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 100;
}